body{
    background-image: url("../img/dragon_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.d-grid{
    text-align: center;
    margin-top: 90px;
    margin-right: 200px;
}

#newgamebutton{
    padding: 20px 100px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px 0px 25px 0px;
}